@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.menu-card {
  @apply bg-gray-200 flex justify-center flex-col font-mono mb-4 md:w-auto md:h-auto shadow-sm hover:scale-105 hover:shadow-md transition duration-300;
}
.img {
  @apply h-48 object-cover w-full rounded shadow-md mb-10;
}
.footer-icon {
  @apply rounded-full border-2 border-white
   text-white leading-normal uppercase 
   hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1;
}
.nav-menu {
  @apply px-4 cursor-pointer md:hidden;
}
nav.dropdown {
  @apply flex flex-col bg-red-300;
}
.nav {
  @apply pr-8 md:block hidden;
}
.drop-down {
  @apply grid grid-rows-4 text-center items-center rounded w-64 bg-yellow-100 absolute top-16 right-0 md:hidden transition-all;
}
.drop-down-hidden {
  @apply absolute -right-full;
}
.nav-link {
  @apply p-4 hover:bg-slate-300;
}
.contact {
  @apply flex flex-col justify-center;
}
